<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdVbsLDChfIbw2IuyQn0a-lKbu7WVJSeY</string>
	<key>GCM_SENDER_ID</key>
	<string>631794669112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prajakta.PrajaktaKulkarniPortfolio</string>
	<key>PROJECT_ID</key>
	<string>prajaktakulkarniportfoli-2f7fc</string>
	<key>STORAGE_BUCKET</key>
	<string>prajaktakulkarniportfoli-2f7fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631794669112:ios:ae64bee7c649bd8978b8cd</string>
</dict>
</plist>